.main-chat
  .main-header
    .main-header-left-box
      .main-header-left-box__group-name
      .main-header-left-box__member-list
    .main-header-edit-button
  .messages
    .message
      .message__upper-info
      #p.message__text
  .form
    .form-new-message
      .form-new-message-input-box
        .form-new-message-input-box__text-area
        .form-new-message-input-box__icon
      .form-new-message-send-button
