.side-bar
  .side-header
    .side-header-box
      .side-header-box__user-name
      ユーザ名
      .side-header-box__icon
        .side-header-box__icon__left
          左
        .side-header-box__icon__right
          右
  .group-info
    .group-info__group-list
      .group-info__group-list__group-name
        グループ名
      .group-info__group-list__message
        メッセージ