.side-bar
  .side-header
    .side-header-box
      .side-header-box__user-name
        FFF
      .side-header-box__icon
        = link_to "#", class: "side-header-box__icon__left" do
          = icon('far', 'edit')
        = link_to "#", class: "side-header-box__icon__right" do
          = icon('fas', 'cog')
  .group-info
    .group-info__group-list
      .group-info__group-list__group-name
      .group-info__group-list__message